<p>{{ flash }}</p>
<form action="login" method="POST">
  <input name="username">
  <input name="password">
  <input type="submit" value="Log in">
</form>
<p>No account? Register <a href="/register">here</a>.</p>
<a href="/auth/facebook"><img src="fb_icon_325x325.png" style="width:100px"></a>
